<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="NASSyncToolPS.EncoderSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
            <section name="NASSyncToolPS.Encoder" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="NASSyncToolPS.ToolSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <NASSyncToolPS.EncoderSettings>
            <setting name="OggPath" serializeAs="String">
                <value/>
            </setting>
            <setting name="FlacPath" serializeAs="String">
                <value/>
            </setting>
            <setting name="OpusPath" serializeAs="String">
                <value/>
            </setting>
            <setting name="DefaultEncoderPath" serializeAs="String">
                <value>D:\Tools\Audio\encoders</value>
            </setting>
            <setting name="LamePath" serializeAs="String">
                <value/>
            </setting>
            <setting name="MetaFlacPath" serializeAs="String">
                <value/>
            </setting>
            <setting name="IngnoreExtensions" serializeAs="String">
                <value>txt log pdf cue mp3 mp4 flv</value>
            </setting>
            <setting name="CopyExtensions" serializeAs="String">
                <value>.jpg .png .mp3 .flac .acc .m4a</value>
            </setting>
            <setting name="LameOptions" serializeAs="String">
                <value/>
            </setting>
            <setting name="MaxImageSize" serializeAs="String">
                <value>512</value>
            </setting>
            <setting name="ReplayGainTypeString" serializeAs="String">
                <value>ID3Tag</value>
            </setting>
            <setting name="OggOptions" serializeAs="String">
                <value/>
            </setting>
        </NASSyncToolPS.EncoderSettings>
        <NASSyncToolPS.Encoder>
            <setting name="OggPath" serializeAs="String">
                <value/>
            </setting>
            <setting name="FlacPath" serializeAs="String">
                <value/>
            </setting>
            <setting name="OpusPath" serializeAs="String">
                <value/>
            </setting>
            <setting name="DefaultEncoderPath" serializeAs="String">
                <value>D:\Tools\Audio\encoders</value>
            </setting>
            <setting name="LamePath" serializeAs="String">
                <value/>
            </setting>
            <setting name="MetaFlacPath" serializeAs="String">
                <value/>
            </setting>
            <setting name="IngnoreExtensions" serializeAs="String">
                <value>txt log pdf cue mp3 mp4 flv</value>
            </setting>
            <setting name="CopyExtensions" serializeAs="String">
                <value>jpg png</value>
            </setting>
        </NASSyncToolPS.Encoder>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/></startup><applicationSettings>
        <NASSyncToolPS.ToolSettings>
            <setting name="TruecryptPath" serializeAs="String">
                <value>D:\Tools\Allgemein\TrueCrypt\TrueCrypt.exe</value>
            </setting>
            <setting name="FineReaderPath" serializeAs="String">
                <value>D:\Tools\Allgemein\Finereader12</value>
            </setting>
            <setting name="FineReaderCmd" serializeAs="String">
                <value>FineCmd.exe</value>
            </setting>
            <setting name="LocalWorkingFolder" serializeAs="String">
                <value>D:\Todo\ScannedDocs</value>
            </setting>
            <setting name="NASDropFolder" serializeAs="String">
                <value>\\DISKSTATION\Dokumente\Scan</value>
            </setting>
            <setting name="TruecryptContainers" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>D:\Dokumente\Dropbox\Dokumente\Banking\Banking Store.tc</string>
                        <string>D:\Dokumente\Docs.tc</string>
                    </ArrayOfString>
                </value>
            </setting>
        </NASSyncToolPS.ToolSettings>
    </applicationSettings>
</configuration>
